# elenco file e directory che verranno ignorati da git
gtag.script_js
_altro
node_modules/
package-lock.json
mix-manifest.json
TEMP/
.htaccess
# contiene i dati per l'accesso al DB di Altervista
db_config.php
# contiene la API key per accedere al servizio di mailing di SendGrid
send_grid_api_key.php
