/* footer styles */

footer {
    font-size: 14px;

    a {
        color: $white-color;
        // cursor: pointer;

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
        }
    }
}

.footer-link-img {
    margin-right: 15px;
}

.footer-img {
    width: 100px;
    margin-bottom: 15px;
}

#iubenda-img {
    width: 80px;
    margin-bottom: 15px;
}

.footer-popover:hover {
    color: #69e7f8;
}

#footer-site-info {
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.my-heart {
    color: red;
}

#site-tech-list {
    margin-left: 30px;
}

.bg-overlay-footer {
    /* overlay per la navigation bar */
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
    );
    background-color: transparent;
}

/* end footer style */
