/* ----------------------------- MEDIA QUERY ------------------------------- */
@media screen and (max-width: 767px) {
    .subtitle {
        font-size: 30px;
        // text-shadow: -1px 0 #06dcfd, 0 1px #06dcfd, 1px 0 #06dcfd, 0 -1px #06dcfd;
        text-shadow: none;
    }
}

@media screen and (max-width: 575px) {
    .subtitle {
        font-size: 24px;
    }

    // resize del box del recaptcha
    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media screen and (max-width: 440px) {
    .subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .subtitle {
        font-size: 16px;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
}

// per i device che non hanno "hover" (cioè quelli touch tipo mobile e tablets)
// sovrascrivo la regola di hover definita, ripristinando il colore originale quando viene eseguito il touch
@media (hover: none) {
    // bottone BTT (back to top)
    .scroll-to-top:hover {
        color: rgba(23, 163, 184, 0.33);
    }

    // frecce next/prev dello slider nella sezione portfolio
    .section3 .slider-arrow:hover {
        color: $primary-color;
    }

    // link nella sezione contatti
    .section4 .contact-links:hover {
        color: $primary-color;
    }

    // dots dello slider nella sezione portfolio
    .tns-nav > [aria-controls]:hover {
        background-color: $primary-color;
    }

    // bordo delle slide
    .slide-border:hover {
        border-color: $primary-color;
    }
}
