// colors
$primary-color: #17A2B8; //
$dark-color: #026979; //
$light-color: #06dcfd; //
$bg-dark-color: #343A40; //
$white-color: #F8F9FA;
$link-hover-color: #69e7f8;
// spacing and sizes
//
// text font sizes
$ff-text: "'Ubuntu', sans-serif"; // font testo
$ff-headings: "'Tomorrow', sans-serif"; // font titoli