// colors
$primary-color: #17a2b8; //
$dark-color: #026979; //
$light-color: #06dcfd; //
$bg-dark-color: #343a40; //
$white-color: #f8f9fa;
$link-hover-color: #69e7f8;
// spacing and sizes
//
// text font sizes
$ff-text: "'Ubuntu', sans-serif"; // font testo
$ff-headings: "'Tomorrow', sans-serif"; // font titoli
//
//
$minfFooterHeight: 95px;
$headerHeight: 75px;
